*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body{
  height: 100vh;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#calender {
  height: 500px;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 100px);
}

.col {
  border: 1px solid #000000;
  font-weight: bold;
  /* border-radius: 4px; */
  text-align: center;
  padding: 1em;
}

.current-date {
  background-color: burlywood;
}
.blur {
  color: rgba(0, 0, 0, 0.35);
}
