*,
*::before,
*::after {
  box-sizing: border-box;

}

body{
  margin-top:0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap:25px;
}

#calender {
  height: 350px;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 100px);
}

.col {
  border: 1px solid #000000;
  font-weight: bold;
  /* border-radius: 4px; */
  text-align: center;
  padding: 1em;
}

.current-date {
  position:relative;
  color:#FF0000;
}

.blur {
  color: rgba(0, 0, 0, 0.35);
}
#modal-overlay{
  height:100vh;
  width:100vw;
  background:rgba(0,0,0,0.8);
  position:fixed;
}

.modal-body{
  width:400px;
  height:50%;
  padding:0 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position:absolute;
  background: #FFFFFF;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}

textarea{
  resize:vertical;
}

input[type="color"]{
  margin-left:2rem;
}