*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* height: 100px;
  overflow: scroll; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  /* margin: 0 auto; */
}

.container {
  /* height: 500px; */
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.card {
  width: 200px;
  /* height: 100px; */
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 4rem;
  text-align: center;
  opacity: 0;
  transition: 150ms;
  transform: translateX(100px);
}

.card.show {
  opacity: 1;
  transform: translateX(0px);
}
